<h1> 
	<%= gravatar_for user %> <!-- 顯示大頭照 (a helper method)-->
	<%= user.name %>  <!-- 輸出用戶名 -->
</h1>
	<%= pluralize user.posts.count , "posts" %> <br>
	<%= link_to pluralize(user.followers.count,"follower"), followers_user_path(user) %> <br>
	<%= link_to pluralize(user.followed_users.count,"following"), followings_user_path(user) %><br>