<h1>New Posts</h1>

<%= form_for @post do |f| %>
	<%= render "shared/form_errors",record: @post %>
<div class="field">
	<%= f.label :content %><br>
	<%= f.text_field :content %>
</div>

<div class="actions">
	<%= f.submit "Post" ,class: "btn-primary"%>
</div>
<% end %>

